.travelNotes {
    background-color: #E19797;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
    border-radius: .5rem;
}

.aTravelNote {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid white;
    background-color: white;
    border-radius: .5rem;
  }

.aTravelNote__details {
    background-color: #E19797;
    color: red;
}

.travelNoteForm {
    background-color: #E19797;
    margin: 55px;
    border-radius: .5rem;
    flex-wrap: wrap;   
}

.form-group {
    margin: 15px;
    border-radius: .3rem;
    align-items: stretch;
}

.link--close {
    margin-right: 5px;
    padding: 2px;
    margin-top: 10px;
    float: right;
}

.addNewTravelNoteBtn {
    margin-top: 23px;
    margin-left: 15px;
    margin-right: 23px;
    border-radius: .3rem;
}
.link--logout {
    margin: 10px;
    float: right;
    border-radius: .3rem;
}

.deleteBtn {
    float: right;
    margin-top: 5px;
    border-radius: .3rem;
}

.editBtn {
    margin-top: 5px;
    border-radius: .3rem;
}

.travelNoteForm__title {
    margin-left: 10px;
}

.btn-primary {
    margin: 5px;
    border-radius: .3rem;
}