.travelNotes {
    background-color: #E19797;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
    border-radius: .5rem;
}

.aTravelNote {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid white;
    background-color: white;
    border-radius: .5rem;
  }

.aTravelNote__details {
    background-color: #E19797;
    color: red;
}

.travelNoteForm {
    background-color: #E19797;
    margin: 55px;
    border-radius: .5rem;
    flex-wrap: wrap;
    
}

.form-group {
    margin: 15px;
    border-radius: .3rem;
}