.travelNotes {
    background-color: #E19797;
    display: flex;
    margin: 15px;
    border-radius: .5rem;
    flex-wrap: wrap;
}


.aTravelNote {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid white;
    background-color: white;
    border-radius: .5rem;
    flex-wrap: wrap;
  }

.travelNoteForm {
    background-color: #E19797;
    margin: 55px;
    border-radius: .5rem;
    flex-wrap: wrap;   
}

.form-group {
    margin: 15px;
    border-radius: .3rem;
    align-items: stretch;
}

.link--close {
    margin-right: 5px;
    padding: 2px;
    margin-top: 10px;
    float: right;
    border: 1px solid white;
    border-radius: .3rem;
}

.addNewTravelNoteBtn {
    margin-top: 23px;
    margin-left: 15px;
    margin-right: 23px;
    border: 1px solid #220101;
    border-radius: .3rem;
    color: #9e2525;
}

.deleteBtn {
    float: right;
    margin-top: 10px;
    border: 1px solid #220101;
    border-radius: .3rem;
    color: #9e2525;
}

.editBtn {
    margin-top: 10px;
    border: 1px solid #220101;
    border-radius: .3rem;
    color: #9e2525;
}

.travelNoteForm__title {
    margin-left: 10px;
}

.btn-primary {
    margin: 5px;
    border: 1px solid white;
    border-radius: .3rem;
    color: #9e2525;
}

a {
    text-decoration: none;
    color: #9e2525;
}