#root {
    display: flex;
    /* display-content: space-between; */
    flex-direction: column;
}

.getStartedPage {
    display: flex;
    flex-wrap: wrap;
    background-position-x: right;
    background-image: url(auth/Vejer-De-La-Frontera.jpg);
}