.theWholeHomePage {
    height: auto;
}

.homepage {
    display: flex;
}

.link--logout {
    margin: 10px;
    float: right;
    border: 1px solid #220101;
    border-radius: .3rem;
}

.results {
    display: flex;
}

.search {
    padding: 1em;   
    border-radius: .3rem;
}

.input--wide {
    margin: .7rem;
}

.results-name {
    color: #9e2525;
}

.travelNote {
    margin: 1em;
    background-color: #E19797;
    border-radius: .1rem;
    width: 200%;
}

.otherPeoplesTrips {
    background-color: #E19797;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: .5rem;
    height: 650px;
    overflow: auto;
}

.noteSearch-notes {
    display: flex;
    flex-direction: column;
    width: 40%;
    overflow: auto;
    /* margin: 15px; */
}

.futureTrips {
    background-color: #E19797;
}

.aFutureTrip {
    background-color: white;
}