.theWholeHomePage {
    height: auto;
}

.homepage {
    display: flex;
}

.link--logout {
    margin: 10px;
    float: right;
    border: 1px solid #220101;
    border-radius: .3rem;
}

.results {
    display: flex;
}

.search {
    padding: 1em;   
    border-radius: .3rem;
}

.input--wide {
    margin: .7rem;
}

.results-name {
    color: #9e2525;
}

.travelNote {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid white;
    background-color: white;
    border-radius: .5rem;
}

.trips {
    flex-wrap: wrap;
    background-color: #E19797;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: .5rem;
    height: 57.15%;
}

.noteSearch-notes {
    display: flex;
    flex-direction: column;
    width: 40%;
    /* margin: 15px; */
}