h1 {
    font-size: 2.5rem;
    font-style: italic;
    background-color: rgb(247, 239, 239);
    color: #674646;
    background-clip: padding-box;
    border-radius: 125rem;
    padding: 10px;
    border: 1px solid #E19797;
    Width: 400px;
    Height: 70px;
    Top: -518px;
    Left: 2180px;    
    margin-top: 50px;
    margin-right: 500px;
    margin-left: 500px;
    text-align: center;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login, .form--register {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
    text-align: center;
}

.form--login, .form--register {
    /* background-position-x: right; */
    /* background-image: url(logo.png); */
    z-index: 1;
    background-color: #E19797;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    padding: 10px;
    border: 2px solid #ced4da;
    border-radius: .25rem;
    margin: 50px;
    
}

.button--close {
    position: relative;
    bottom: -2rem;
    color: #9e2525;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
    border: 1px solid #220101;
    border-radius: .5rem;
}

.sign-in {
    color: #9e2525;
}